<% if @message && @message[:success] %>
  <div class="alert alert-success" role="alert">
    <%= @message[:success] %>
  </div>
<% end %>

<% if @message && @message[:failure] %>
  <div class="alert alert-danger" role="alert">
    <%= @message[:failure] %>
    <ul>
      <% @message[:errors].each do |error, message| %>
        <li><%= "#{error.to_s.titleize} #{message}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag '/addresses', method: :post do %>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col-12 form-group">
          <%= label_tag :street_address, "Street Address", class: "form-label" %>
          <%= text_field_tag :street_address, @street_address, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-4 form-group">
          <%= label_tag :city, 'City', class: "form-label" %>
          <%= text_field_tag :city, @city, class: "form-control" %>
        </div>
        <div class="col-4 form-group">
          <%= label_tag :state, 'State', class: "form-label" %>
          <%= text_field_tag :state, @state, class: "form-control" %>
        </div>
        <div class="col-4 form-group">
          <%= label_tag :zip_code, 'Zip Code', class: "form-label" %>
          <%= text_field_tag :zip_code, @zip_code, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 buttons">
          <%= submit_tag 'Validate Address', class: "btn btn-primary form-control" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
